<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="min-h-screen flex flex-col bg-background text-foreground">
    {%- include header.html -%}
    <main class="flex-1 py-8">
      <div class="border-x border-slate-200 fixed top-0 bottom-0 w-3xl left-[50%] translate-x-[-50%] z-[-1]"></div>
      <div class="max-w-3xl mx-auto border-x border-slate-200">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
