<div class="p-2 font-sans">
    <p class="text-muted-foreground mb-3 text-sm uppercase font-mono">About</p>
    <p class="text-foreground leading-6 mb-2">
        I'm a software writer who builds and designs products for the Web.
    </p>
    <p class="text-foreground leading-6 mb-2">
        I primarily work on frontend systems, and I like to work a lot upon
        improving the UX and performance.
    </p>
    <p class="text-foreground leading-6">
        After nearly a decade on the client side, I'm now turning to general
        systems — so I prefer calling myself
        <i>a general purpose programmer</i> these days.
    </p>
</div>
