<div class="p-2">
    <p class="text-muted-foreground mb-3">About</p>
    <p class="text-foreground leading-5 mb-2">
        A general purpose programmer who's building things with code.
    </p>
    <p class="text-foreground leading-5 mb-2">
        I work on frontend systems in daytime. And I'm on my Rust/systems
        journey after work.
    </p>
    <p class="text-foreground leading-5">
        I've setup this website recently to publish things I find work sharing.
        Also, to write about whatever I'm learning.
    </p>
</div>
