<div class="p-2">
    <p class="text-muted-foreground mb-2">Connect</p>
    <ul class="space-y-1">
        <li>
            <a
                href="https://github.com/yatharthx"
                class="text-foreground hover:text-primary no-underline"
                target="_blank"
                >GitHub</a
            >
        </li>
        <li>
            <a
                href="https://twitter.com/yatharthx_"
                class="text-foreground hover:text-primary no-underline"
                target="_blank"
                >Twitter</a
            >
        </li>
        <li>
            <a
                href="mailto:yatharth@hey.com"
                class="text-foreground hover:text-primary no-underline"
                >Email</a
            >
        </li>
    </ul>
</div>
