<div class="p-2">
    <p class="text-muted-foreground mb-2">Things I'm working on rn</p>
    <ul class="space-y-1">
        <li>
            <a href="#" class="text-foreground hover:text-primary no-underline"
                >deno-tui</a
            >
        </li>
        <li>
            <a href="#" class="text-foreground hover:text-primary no-underline"
                >programs.rs</a
            >
        </li>
        <li>
            <a href="#" class="text-foreground hover:text-primary no-underline"
                >dit</a
            >
        </li>
    </ul>
</div>
